@model List<PixiStash.Application.DTO.ProductDto>

@{
    ViewData["Title"] = "Product List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card top-selling overflow-auto">

       @*  <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                </li>
                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
        </div>
 *@
        <div class="card-body pb-0">
            <h5 class="card-title">Product <span>| List</span></h5>

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" >Preview</th>
                        <th scope="col" class="text-center">Product</th>
                        <th scope="col" class="text-center">Price</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-center">Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <th scope="row">
                                <a href="#"><img src="@product.ProductImageUrl" alt="Product Image" style="max-width: 100px; max-height: 100px;" class="img-fluid rounded" s/></a>
                            </th>
                            <td class="align-middle text-center">
                                <a href="@Url.Action("Details", "Product", new { id = product.ProductId })" class="text-primary fw-bold">@product.ProductName</a>
                            </td>
                            <td class="align-middle text-center">@product.DefaultSellingPrice</td>
                            <td class="align-middle text-center fw-bold">@product.Quantity</td>
                            <td class="align-middle text-center">@Math.Round(product.DefaultSellingPrice * product.Quantity, 2)</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</div>
